

// ==================================================================
// Variables & Mixin
// ==================================================================

$font__default                         : 'Roboto';
$font__weight--thin                    : 100;

// Background
$gauge__color--bg                      : rgba(0, 0, 0, 0.02);

// Inner fill color value
$gauge__fill--info                     : #ECF3FB;
$gauge__fill--success                  : #EBF6EC;
$gauge__fill--warning                  : #FCF3EF;
$gauge__fill--danger                   : #FBEEEE;
$gauge__fill--neutral                  : #F2F2F2;

// Inner value and progress colors
$gauge__color--info                    : rgba(85, 167, 244, 1);  // #55A7F4
$gauge__color--success                 : rgba(146, 203, 148, 1); // #92CB94
$gauge__color--warning                 : rgba(229, 153, 116, 1); // #E59974
$gauge__color--danger                  : rgba(221, 103, 102, 1); // #DD6766
$gauge__color--neutral                 : rgba(145, 145, 149, 1); // #919195

// Label color
$gauge__label--color                   : #58585B;

// Gauge sizes
$gauge__size--sm                       : 60px;
$gauge__size--md                       : 120px;
$gauge__size--lg                       : 160px;
$gauge__value--sm                      : 12px;
$gauge__value--md                      : 26px;
$gauge__value--lg                      : 38px;

$gauge__progress-width                 : 2;

// ==================================================================
// Mixins
// ==================================================================

@mixin prefixer($property, $value, $prefixes: webkit moz ms o) {

  @each $prefix in $prefixes {
    #{'-' + $prefix + '-' + $property}: $value;
  }
  #{$property}: $value;

}

@mixin transition($props) {
  @include prefixer(transition, $props);
}

@mixin gauge-circle-color($color, $fill) {

  .gauge__circle {
    .mask {
      .fill {
        background-color: $color;
      }
    }
  }

  .gauge__inset {
    .gauge__value {
      color: $color;
      background-color: $fill;
    }
  }

}

@mixin gauge-circle-size($size, $font-size) {

  $inset-size: $size - $gauge__progress-width;
  $transition-length: 1s;

  display: inline-block;
  width: $size;
  height: $size;
  background-color: $gauge__color--bg;
  border-radius: 50%;

  .gauge__circle {

    .mask,
    .fill,
    .shadow {
      width: $size;
      height: $size;
      position: absolute;
      border-radius: 50%;
    }

    .mask,
    .fill {
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      transition: transform $transition-length;
      border-radius: 50%;
    }

    .mask {
      clip: rect(0px, $size, $size, $size/2);
      .fill {
        clip: rect(0px, $size/2, $size, 0px);
      }
    }

  }

  .gauge__inset {
    display: flex;
    align-items: center;
    justify-content: center;
    width: $inset-size - 2;
    height: $inset-size - 2;
    position: absolute;
    margin-left: 2px;
    margin-top: 2px;
    border-radius: 50%;
    background-color: $gauge__color--bg;
    box-sizing: border-box;

    .gauge__value {
      display: flex;
      align-items: center;
      justify-content: center;
      width: $inset-size - 2;
      height: $inset-size - 2;
      font-size: $font-size;
      border: solid 8px #FFF;
      border-radius: 50%;
      box-sizing: border-box;
    }

  }

  $i               : 0;
  $increment       : 180deg / 100;

  @for $i from 1 through 100 {

    &[data-percentage="#{$i}"] {

      .gauge__circle {

        .mask.full,
        .fill {
          transform: rotate($increment * $i);
        }

        .fill.fix {
          transform: rotate($increment * $i * 2);
        }

      }

    }

  }

}

// ==================================================================
// Component Styles
// ==================================================================

:host.app-gauge {
  display: inline-flex;
  flex-direction: column;
  align-items: center;

  // Set default font
  * {
    font-weight: 200;
  }

  // Colors
  // ==================================================================

  .gauge {

    &.\--info {
      @include gauge-circle-color($gauge__color--info, $gauge__fill--info);
    }

    &.\--success {
      @include gauge-circle-color($gauge__color--success, $gauge__fill--success);
    }

    &.\--danger {
      @include gauge-circle-color($gauge__color--danger, $gauge__fill--danger);
    }

    &.\--warning {
      @include gauge-circle-color($gauge__color--warning, $gauge__fill--warning);
    }

    &.\--neutral {
      @include gauge-circle-color($gauge__color--neutral, $gauge__fill--neutral);
    }

  }

  // Sizes
  // ==================================================================

  .gauge {

    &.\--sm {
      @include gauge-circle-size($gauge__size--sm, $gauge__value--sm);
      .gauge__inset .gauge__value {
        border-width: 6px;
      }
    }

    &.\--md {
      @include gauge-circle-size($gauge__size--md, $gauge__value--md);
      .gauge__inset .gauge__value {
        border-width: 8px;
      }
    }

    &.\--lg {
      @include gauge-circle-size($gauge__size--lg, $gauge__value--lg);
      .gauge__inset .gauge__value {
        border-width: 10px;
      }
    }

  }

  // States
  // ==================================================================

  .gauge {

    // when clickable
    &.\--clickable {
      &:hover,
      &:active {
        .gauge__value {
          font-family: $font__default;
          cursor: pointer;
        }
      }
    }

    // when disabled
    &.\--disabled {
      opacity: 0.5;
      &:hover {
        cursor: not-allowed;
      }
    }

  }

  // Label Styles
  // ==================================================================

  .gauge__label {
    font-family: $font__default;
    font-size: 13px;
    color: $gauge__label--color;
    display: flex;
    align-items: center;
    height: 50px;
    text-align: center;
  }

  .gauge.\--clickable + .gauge__label:hover {
    @include transition(color 150ms linear);
    color: shade($gauge__label--color, 25%);
    cursor: pointer;
  }

}
